services:
  frontend:
    image: node:20
    working_dir: /app
    volumes:
      - ./MentorMeet/frontend/mentor-meet:/app
      - /app/node_modules
    ports:
      - "4200:4200"
    command: sh -c "npm install && npx ng serve --host 0.0.0.0 --port 4200 --proxy-config proxy.conf.json --poll 2000"
    stdin_open: true 
    tty: true
    depends_on:
      - backend

  backend:
    build:
      context: ./MentorMeet/backend
      dockerfile: Dockerfile
    ports:
      - "8000:80"
    volumes:
      - ./MentorMeet/backend:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: mentormeet
      MYSQL_USER: mentormeet
      MYSQL_PASSWORD: mentormeet
    volumes:
      - db-data:/var/lib/mysql
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    ports:
      - "8081:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    depends_on:
      - db

volumes:
  db-data: