@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Lora:ital,wght@0,400;0,700;1,400&family=Inter:wght@400;500;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fcfcf9;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

// A router-outlet köré érdemes egy tárolót tenni a fő tartalomnak
main {
  flex: 1;
}